{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>
        <table class="table" id="votings-table">
            <thead>
                <tr>
                    <th data-visible="false">Id</th>
                    <th data-sortable="true">Name</th>
                    <th data-sortable="true">Start Date</th>
                    <th data-sortable="true">End Date</th>
                    <th data-sortable="true">Model</th>
                </tr>
            </thead>
            <tbody>
                {% for voting in votings %}
                    <tr>
                        <td>{{ voting.id }}</td>
                        <td>{{ voting.name }}</td>
                        <td>{{ voting.start_date }}</td>
                        <td>{{ voting.end_date }}</td>
                        <td>{{ voting.model }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function() {
            var table = $('#votings-table').DataTable({
                "order": [[0, "desc"]]
            });

            // Agregar evento de clic a las filas
            $('#votings-table tbody').on('click', 'tr', function() {
                var url = $(this).data('href');
                if (url) {
                    window.location.href = url;
                }
            });
        });
    </script>
{% endblock %}
