{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>{{ title }}</h2>

        <form action="{% url 'export_census' %}" method="get">
            <button type="submit" class="btn btn-primary">Exportar Censo</button>
        </form>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Seleccionar archivo: <input type="file" name="csv_file">
            <button type="submit" class="btn btn-success" id="importButton">Importar Censo</button>
        </form>
        

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    <p>{% if message.tags %} class="" {% endif %}>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
                
        <table class="table" id="censuses-table">
            <thead>
                <tr>
                    <th data-visible="false">Id</th>
                    <th data-sortable="true">Voting ID</th>
                    <th data-sortable="true">Voter ID</th>
                    <!-- Agrega aquí más columnas según tus necesidades -->
                </tr>
            </thead>
            <tbody>
                {% for census in censuses %}
                    <tr>
                        <td>{{ census.id }}</td>
                        <td>{{ census.voting_id }}</td>
                        <td>{{ census.voter_id }}</td>
                        <!-- Agrega aquí más columnas según tus necesidades -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        jQuery(document).ready(function($) {
            console.log('Documento listo');

            $('#importButton').click(function() {
                console.log('Botón importar clickeado');
            });

            // Agregar evento de clic a las filas
            $('#censuses-table tbody').on('click', 'tr', function() {
            });

            // Inicializar DataTables con opciones adicionales
            var table = $('#censuses-table').DataTable({
                "order": [[0, "desc"]],
                "deferRender": true,
                "orderCellsTop": true,
            });

        });
    </script>
{% endblock %}
